src/diary/seviceClient/starSign/StarSignService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns="http://star" xmlns:ax23="http://entity/xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" targetNamespace="http://star">
    <wsdl:documentation>StarSignService</wsdl:documentation>
    <wsdl:types>
        <xs:schema xmlns:ax24="http://entity/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://star">
            <xs:import namespace="http://entity/xsd"/>
            <xs:element name="getStarSignWeek">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="star" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getStarSignWeekResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax24:StarResult"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getStarSignTomorrow">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="star" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getStarSignTomorrowResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax24:StarResult"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getStarSignToday">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="star" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getStarSignTodayResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax24:StarResult"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getStarSignNextweek">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="star" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getStarSignNextweekResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax24:StarResult"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://entity/xsd">
            <xs:complexType name="StarResult">
                <xs:sequence>
                    <xs:element minOccurs="0" name="QFriend" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="all" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="color" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="date" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="datetime" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="error_code" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="health" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="job" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="love" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="money" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="name" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="number" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="resultcode" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="summary" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="weekth" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="work" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="getStarSignTodayRequest">
        <wsdl:part name="parameters" element="ns:getStarSignToday"/>
    </wsdl:message>
    <wsdl:message name="getStarSignTodayResponse">
        <wsdl:part name="parameters" element="ns:getStarSignTodayResponse"/>
    </wsdl:message>
    <wsdl:message name="getStarSignWeekRequest">
        <wsdl:part name="parameters" element="ns:getStarSignWeek"/>
    </wsdl:message>
    <wsdl:message name="getStarSignWeekResponse">
        <wsdl:part name="parameters" element="ns:getStarSignWeekResponse"/>
    </wsdl:message>
    <wsdl:message name="getStarSignNextweekRequest">
        <wsdl:part name="parameters" element="ns:getStarSignNextweek"/>
    </wsdl:message>
    <wsdl:message name="getStarSignNextweekResponse">
        <wsdl:part name="parameters" element="ns:getStarSignNextweekResponse"/>
    </wsdl:message>
    <wsdl:message name="getStarSignTomorrowRequest">
        <wsdl:part name="parameters" element="ns:getStarSignTomorrow"/>
    </wsdl:message>
    <wsdl:message name="getStarSignTomorrowResponse">
        <wsdl:part name="parameters" element="ns:getStarSignTomorrowResponse"/>
    </wsdl:message>
    <wsdl:portType name="StarSignServicePortType">
        <wsdl:operation name="getStarSignToday">
            <wsdl:input message="ns:getStarSignTodayRequest" wsaw:Action="urn:getStarSignToday"/>
            <wsdl:output message="ns:getStarSignTodayResponse" wsaw:Action="urn:getStarSignTodayResponse"/>
        </wsdl:operation>
        <wsdl:operation name="getStarSignWeek">
            <wsdl:input message="ns:getStarSignWeekRequest" wsaw:Action="urn:getStarSignWeek"/>
            <wsdl:output message="ns:getStarSignWeekResponse" wsaw:Action="urn:getStarSignWeekResponse"/>
        </wsdl:operation>
        <wsdl:operation name="getStarSignNextweek">
            <wsdl:input message="ns:getStarSignNextweekRequest" wsaw:Action="urn:getStarSignNextweek"/>
            <wsdl:output message="ns:getStarSignNextweekResponse" wsaw:Action="urn:getStarSignNextweekResponse"/>
        </wsdl:operation>
        <wsdl:operation name="getStarSignTomorrow">
            <wsdl:input message="ns:getStarSignTomorrowRequest" wsaw:Action="urn:getStarSignTomorrow"/>
            <wsdl:output message="ns:getStarSignTomorrowResponse" wsaw:Action="urn:getStarSignTomorrowResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="StarSignServiceSoap11Binding" type="ns:StarSignServicePortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="getStarSignToday">
            <soap:operation soapAction="urn:getStarSignToday" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getStarSignWeek">
            <soap:operation soapAction="urn:getStarSignWeek" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getStarSignNextweek">
            <soap:operation soapAction="urn:getStarSignNextweek" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getStarSignTomorrow">
            <soap:operation soapAction="urn:getStarSignTomorrow" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="StarSignServiceSoap12Binding" type="ns:StarSignServicePortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="getStarSignToday">
            <soap12:operation soapAction="urn:getStarSignToday" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getStarSignWeek">
            <soap12:operation soapAction="urn:getStarSignWeek" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getStarSignNextweek">
            <soap12:operation soapAction="urn:getStarSignNextweek" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getStarSignTomorrow">
            <soap12:operation soapAction="urn:getStarSignTomorrow" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="StarSignServiceHttpBinding" type="ns:StarSignServicePortType">
        <http:binding verb="POST"/>
        <wsdl:operation name="getStarSignToday">
            <http:operation location="getStarSignToday"/>
            <wsdl:input>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getStarSignWeek">
            <http:operation location="getStarSignWeek"/>
            <wsdl:input>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getStarSignNextweek">
            <http:operation location="getStarSignNextweek"/>
            <wsdl:input>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getStarSignTomorrow">
            <http:operation location="getStarSignTomorrow"/>
            <wsdl:input>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="StarSignService">
        <wsdl:port name="StarSignServiceHttpSoap11Endpoint" binding="ns:StarSignServiceSoap11Binding">
            <soap:address location="http://120.76.144.133:8080/axis2/services/StarSignService.StarSignServiceHttpSoap11Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="StarSignServiceHttpSoap12Endpoint" binding="ns:StarSignServiceSoap12Binding">
            <soap12:address location="http://120.76.144.133:8080/axis2/services/StarSignService.StarSignServiceHttpSoap12Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="StarSignServiceHttpEndpoint" binding="ns:StarSignServiceHttpBinding">
            <http:address location="http://120.76.144.133:8080/axis2/services/StarSignService.StarSignServiceHttpEndpoint/"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
